.subheading {
    font-size: 22px;
}

.header {
    margin-top: 10%;
    text-align: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.header a:link {
    color: #1e00b3;
}

.header a:visited {
    color: #1e00b3;
}

.header a:hover {
    color: #1e00b3;
}

.header a:active {
    color: #1e00b3;
}

.content {
    margin-top: 5rem;
    text-align: center;
}

.footer {
    margin-top: 10%;
    text-align: center;
}

input[type="text"] {
    border-radius: 8px; 
    padding: 35px;
    font-size: 3vw;
    font-weight: 500;
    outline: none;
    margin-top: 6%;
    text-align: center;
  }


p#label {
    text-align: center;
    font-weight: 500;
    line-height: 1.41;
    margin-top: 1%;
    color: rgb(92, 91, 91);
    font-size: 30px;
    font-size: 3vw;
    white-space: nowrap;
    user-select: all;
}

.social {
    font-size: 32px;
    color: black;
}

.social a:link {
    color: black;
}

.social a:visited {
    color: black;
}

.social a:hover {
    color: black;
}

.social a:active {
    color: black;
}

  